<div class="container">
  <br>
  <div>
    <div style="margin-top: 0px" id="reading-scheme-heading-div">
      <div style="overflow: hidden">
        <div id="heading-text">
          <h4 style="margin-top: 0px; line-height: 1.2;">
            Library Reading Schemes</h4>
        </div>
      </div>
      <div id="head-line">
      </div>
    </div>
    <!--#reading-scheme-heading-div -->
    <div id="reading-scheme-content-div">
      <p style="margin-top: 0px" id="font-10">
        Reading schemes has three parts - Security Deposit, Reading Fees and Reading Plans.</p>
      <div>
        <h5>
          Security Deposit</h5>
        <p style="line-height: 12.2pt;">
          Minimum security deposit is 500 rupees for 14-day plan and 1000 rupees for monthly plan.
          <br>
          <br>
          Your security deposit determines how many books you can take at a time.
          <br>
        </p>

      </div>
      <div>
        <h5>
          Reading Fees</h5>
        <p style="line-height: 12.2pt;">
          12% of the price of the book is charged as reading fee.
          <br>
        </p>

      </div>
      <!--#reading-scheme-subheading -->
      <div>
        <h5>
          Reading Plans</h5>
        <p style="line-height: 12.2pt;">
          Your reading plan determines the way by which you pay your reading fees.
          <br>
          <br>
          There are two kinds of reading plans.

        </p>

        <span style="font-weight: bold;color: black;font-family: Verdana,Geneva,sans-serif;font-size: 10pt;">1) Pay-on-time </span>

        <ul id="PayOnTime">
          <li>You are charged reading fee at the time you check out books.</li>

          <li>You can keep the publication as long as no other members is requesting that book.</li>

          <li>You will be given 10 days to return the book if another member is waiting for the book.</li>
          <li>If you need more time to finish the book, you can renew the book and keep it again for 14 days.</li>

          <li>If you are an occasional reader, we recommend pay-on-time plan.</li>
        </ul>
        <br>
        <span style="font-weight: bold;color: black;font-family: Verdana,Geneva,sans-serif;font-size: 10pt;"> 2) Pay-in-advance </span>
        <ul id="PayInAdvance">
          <li>As long as you are reading, pay 200 rupees as advance reading fee every month. This amount is kept in an account called plan.</li>
          <li>Reading fee of the books you check out is deducted from this plan account.</li>
          <li>Reading fee is charged only once per book no matter how long you keep the books.</li>
          <li>There is no late fee in this plan and you are allowed to keep our publications as long as you want.</li>
          <li>You can take a break from reading at any time and your plan balance remains in your account for you to use whenever you start reading again.</li>
          <li>If you are a regular and or slow reader, we recommend pay-in-advance plan.</li>


        </ul></div>
      <!--#reading-scheme-subheading -->
      <!--#our recommendation -->
      <div>
        <h5>
          Our Recommendation
        </h5>
        <p style="line-height: 12.2pt;">
          Go with one-month pay-in-advance plan. Check out
          books that you need for 30 days and have them delivered free to your address or you
          come to the library to pick them up. When you are done reading, order for next set
          of books while returning the old set. Since pay-in-advance plan has no due dates
          or late fees you can read your books at your leisure.
          <br>
          <br>
          Want to know more about this economical and popular plan? Give us a call!
          <br>
        </p>
      </div>
      <!--#our recommendation -->
      <h5 style="color: #458B00; font-size: 12pt; font-weight: bold">
        Remember, you can borrow any book that is available in the Indian market from us!
        If we do not have the book that you want to borrow, let
        us know. We will add the book to our collection and you can borrow
        it as soon as we have it. What more you can expect from a lending library?</h5>
      <br>
      <p style="line-height: 12.2pt;">
        Increase your security deposit at any time if you want to check out more publications.
        <br>
        <br>
        You need to pay your account due only at the time we deliver books to your address.
        <br>
        <br>
        So what are you waiting for? Join now and start reading.
      </p>
      <br>
      <h4>Happy Reading!</h4>
      <br><br>
      <h5 class="text-center">Questions?</h5>
      <br>
      <div class="row">
        <div class="col-lg-4 questions">
          <h5>
            How do I pay my membership dues?
          </h5>
          <p>You can pay your membership dues at the time your checked out materials are delivered to you. You can also pay your dues using
            credit/debit cards from your membership page using the link 'Credit My Account'.</p>
        </div>
        <div class="col-lg-4 questions">
          <h5>
            Once I'm done reading the materials, how do I return them?
          </h5>
          <p>You can either drop-off the material at the library or say that you are done with reading at your 'My Checked Out Materials'
            page in which case we will come and collect your materials from your address.</p>
        </div>
        <div class="col-lg-4 questions">
          <h5>
            Can I call the library for any service I need?
          </h5>
          <p>Of course! You never have to use our web site if you don't want to but still can read our books! Call the library for any service
            from setting up the membership to checking out publications and returning them.</p>
        </div>
      </div>
    </div>
    <!--#reading-scheme-subheading -->
  </div>
</div>
