<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="http://codenpixel.com/demo/kupon2/images/logo-dark.png" alt="#" class="img-responsive logo">
        <p>
          Kupon,travel deals & publishing,with minimal design. We provide you with the latest fresh inspiration straight from the industrie.
        </p>
      </div>
      <div class="col-sm-2">
        <h5>
          CATEGORIES
        </h5>
        <ul class="list-unstyled categories">
          <li *ngFor="let item of categories">
            <a routerLink="/search" [queryParams]="{q: '', category: item['_id'], author: ''}">
              {{ item['category_name'] }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>
          ABOUT US
        </h5>
        <ul class="list-unstyled categories">
          <li> <a href="#"> Home </a> </li>
          <li> <a href="#"> About Us </a> </li>
          <li> <a href="#"> Services </a> </li>
          <li> <a href="#"> Terms  </a> </li>
          <li> <a href="#"> Policies </a> </li>
          <li> <a href="#"> List your Site </a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footerbottom">
    <div class="container">
      <div class="col-sm-7">
        <p>
          <strong>
            Copyright {{ copyDate | date: 'yyyy' }},
          </strong>
          <a target="_blank" href="http://rrrkassociates.com/">RRRK Associates.com</a>, All rights reserved.
          <strong>
            by RRRK Associates
          </strong>
        </p>
      </div>
      <div class="col-sm-5 ">

      </div>
    </div>
  </div>
</footer>
