<div class="container">
  <br>
  <h4>
    Quick Start
  </h4>
  <hr>
  <h5>Steps</h5>
  <p>The following simple step by step instructions to borrow read and return materials will help you get started with LetUsRead.</p>
  <ul>
    <li>
      Sign up to become LetUsRead member using a valid Email Id.
    </li>
    <li>Add your address using the link 'My Addresses'.</li>
    <li>Update your profile using the link 'My Profile'.</li>
    <li>Search for publications and 'Check Out Now!'.</li>
    <li>When publications are checked out, it’s reading fee is charged to your membership account.</li>
    <li>Checked out publications will be delivered to you. You can pay the security deposit and the reading
      fee at the time we deliver the books to you.</li>
    <li>...</li>
    <li>Once you done reading, go to 'My Checked Out Materials' and mark the materials as done reading. We will
      come and collect the material from your address.</li>
  </ul>
  <br>
  <h5>
    Borrowing publications from our library is as simple as A, B, C!
  </h5>
  <p>
    You do not have to use our web site to read our books, instead give us a call at 0471-247-4115 or 97-44-26-19-65 and request a book and get it delivered to your home or office!
  </p>
  <p>
    Using LetUsRead, you can read and return what you want to read and when you want to read without ever having to leave the comforts of your home. We made it that easy for you.
  </p>
  <h5 class="remember">
    Remember, you can borrow any book that is available in the Indian market from us! If we do not have the book you want to borrow, all you have to do is to let us know. We will add the book to our collection within a few days and you can borrow it as soon as we have a copy of it. What more you can expect from a lending library?
  </h5>
  <p>
    You can also explore all the exciting and useful features of LetUsRead such as sharing of your personal collection of books with the library, buying second hand books, referring your friends, gift memberships, book reviews, request books and many more!
  </p>
  <br>
  <h5>
    Join today with hundreds of our members who are enjoying our books and services!
  </h5>
  <br><br>
  <h5 class="text-center">Questions?</h5>
  <br>
  <div class="row">
    <div class="col-lg-4 questions">
      <h5>
        How do I pay my membership dues?
      </h5>
      <p>You can pay your membership dues at the time your checked out materials are delivered to you. You can also pay your dues using
        credit/debit cards from your membership page using the link 'Credit My Account'.</p>
    </div>
    <div class="col-lg-4 questions">
      <h5>
        Once I'm done reading the materials, how do I return them?
      </h5>
      <p>You can either drop-off the material at the library or say that you are done with reading at your 'My Checked Out Materials'
        page in which case we will come and collect your materials from your address.</p>
    </div>
    <div class="col-lg-4 questions">
      <h5>
        Can I call the library for any service I need?
      </h5>
      <p>Of course! You never have to use our web site if you don't want to but still can read our books! Call the library for any service
        from setting up the membership to checking out publications and returning them.</p>
    </div>
  </div>
</div>
