<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <accordion [closeOthers]="oneAtATime">
        <accordion-group #group>
          <div accordion-heading class="clearfix text-uppercase">
            <b><i class="fa fa-address-book"></i>&nbsp; Delivery Address</b>
          </div>
          This is just some content to illustrate fancy headings.
        </accordion-group>
        <accordion-group (isOpenChange)="log($event)">
          <div accordion-heading class="clearfix text-uppercase">
            <b><i class="fa fa-shopping-cart"></i>&nbsp; Order Summary</b>
          </div>
          <p>Some content</p>
        </accordion-group>
        <accordion-group (isOpenChange)="log($event)">
          <div accordion-heading class="clearfix text-uppercase">
            <b><i class="fa fa-paypal"></i>&nbsp; Payment</b>
          </div>
          <p>Some content</p>
        </accordion-group>
      </accordion>
    </div> <!-- end col -->
    <div class="col-lg-4 col-md-4">
      <div class="card mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <p style="margin-bottom: 0;" class="text-uppercase"><b>Price details</b></p>
        </div>
        <div class="card-body">
          <p class="card-text text-uppercase">
            Price <b class="float-right pull-right">400</b>
          </p>
          <p class="card-text text-uppercase">
            Delivery Charges <b class="float-right pull-right">40</b>
          </p>
          <hr>
          <p class="card-text text-uppercase">
            <b>Amount Payable <span class="float-right pull-right">440</span></b>
          </p>
        </div>
      </div>
    </div> <!-- end col -->
  </div> <!-- end row -->
</div>
