<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-8 col-md-8">

    </div> <!-- end col -->
    <div class="col-lg-4 col-md-4">
      <div class="card mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <p style="margin-bottom: 0;" class="text-uppercase"><b>Price details</b></p>
        </div>
        <div class="card-body">
          <p class="card-text text-uppercase">
            Price <b class="float-right pull-right">400</b>
          </p>
          <p class="card-text text-uppercase">
            Delivery Charges <b class="float-right pull-right">40</b>
          </p>
          <hr>
          <p class="card-text text-uppercase">
            <b>Amount Payable <span class="float-right pull-right">440</span></b>
          </p>
        </div>
      </div>
    </div> <!-- end col -->
  </div> <!-- end row -->
</div>
