<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-12" *ngIf="(books | filter: searchFilter).length !== 0">
      <h6 class="results-length">
        {{ (books | filter: searchFilter).length }} records found!
      </h6>
    </div>
    <div class="col-lg-8 col-md-8">
      <div class="search-card no-search-results text-center" *ngIf="(books | filter: searchFilter).length === 0">
        <div>
          <i class="fa fa-smile-o"></i>
        </div>
        <h4>No Search results found for your criteria! </h4>
      </div>
      <div class="search-card" *ngFor="let book of books | filter: searchFilter">
        <div class="img-sec">
          <img src="{{ book.image_thumbnail }}" alt="{{ book.title }}">
        </div> <!-- end of img-sec -->
        <div class="search-desc">
          <p class="search-title" title="{{ book.book_title }}">
            <a style="color: #333333; font-weight: 400;" routerLink="/book_details/{{ book.book_url }}/{{ book.ISBN_13 }}">{{ book.book_title }}</a>
          </p>
          <p class="search-author">
            By
            <a *ngFor="let author of book.book_authors"
               routerLink="/search" [queryParams]="{q: '', author: author, category: ''}" style="text-decoration: underline;">
              {{ author }}
            </a>
          </p>
          <p class="book-desc">
            Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Aesthetic before they sold out put a bird on it sriracha typewriter. Skateboard viral irony tonx ...
          </p>
          <p>
            Leasing Price: {{ book.hcopy_price }},
            <b>Reading Price: {{ (( book['hcopy_price']/100) * appConstants['lease_rate']).toFixed(2) }}</b>
            <span class="book-cost"> ({{ appConstants['lease_rate'] }}% of {{ book.hcopy_price }})</span>
          </p>
        </div> <!-- end of Search desc -->
      </div> <!-- end of Search card -->
      <div class="row" *ngIf="(books | filter: searchFilter).length !== 0">
        <div class="col-lg-12 text-center">
          <div class="text-center show-more bottom-30">
            <a (click)="navigate()" class="btn btn-sm btn-danger text-uppercase show-more-btn">
              Show more &nbsp;<i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
    </div> <!-- end col -->
    <div class="col-lg-3 col-md-3" *ngIf="(books | filter: searchFilter).length !== 0">
      <!--<div class="panel panel-default">
        <div class="panel-body">
          <h6 class="text-uppercase filter-heading"><b>Availability</b></h6>
          <hr>
          <h6>
            <input type="radio" name="radiogroup"
                   [checked]="true"
                   [value]="true" (change)="stockChange(true)">
            In Stock
          </h6>
          <h6>
            <input type="radio" name="radiogroup"
                   [checked]="false"
                   [value]="false" (change)="stockChange(false)">
            Out of Stock
          </h6>
        </div>
      </div>-->
      <div class="panel panel-default">
        <div class="panel-body">
          <h6 class="text-uppercase filter-heading"><b>Authors</b></h6>
          <hr>
          <h6 *ngFor="let author of filter.book_authors">
            <input type="checkbox" (change)="authorChange(author)" [value]="searchFilter['authors'][author]"
                   [checked]="searchFilter['authors'][author] === true" name="book_author">
            {{ author }}
          </h6>
        </div>
      </div>
    </div>
  </div> <!-- end row -->
</div>
