<h5><b>My Orders</b></h5>

<div class="panel panel-default" *ngIf="!orders.length">
  <div class="panel-body text-center">
    <h5>ou haven't ordered anything yet.</h5>
    <a routerLink="/welcome" class="btn btn-default">
      Purchase books&nbsp;
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tr>
      <th>Order ID</th>
      <th>Ordered Books</th>
      <th>Ordered Date</th>
      <th>Delivery Date</th>
      <th>Delivery Status</th>
      <th>Amount Paid</th>
    </tr>
    <tr *ngFor="let item of orders">
      <td>
        <a routerLink="/order-details/{{ item['_id'] }}">{{ item['_id'] }}</a>
      </td>
      <td>{{ item['books'].length }}</td>
      <td>{{ item._created | date: 'dd-MMM-yyyy' }}</td>
      <td>{{ item['delivery_date'] | date: 'dd-MMM-yyyy' }}</td>
      <td>{{ item['delivery_status'] }}</td>
      <td>{{ item['total_amount'] }}</td>
    </tr>
  </table>
</div>
