<h4>My Orders</h4>

<div class="panel panel-default" *ngIf="!orders.length">
  <div class="panel-body text-center">
    <h5>ou haven't ordered anything yet.</h5>
    <a routerLink="/welcome" class="btn btn-default">
      Purchase books&nbsp;
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>

<div class="panel panel-default" *ngFor="let order of orders">
  <div class="panel-heading">
    <span class="need-help common-c">
      <a routerLink="/order-details/{{ order['_id'] }}">{{ order['_id'] }}</a>
    </span>
    <span class="need-help common-c">
      <i class="fa fa-question-circle"></i>&nbsp;
      Need help?
    </span>
  </div>
  <div class="panel-body">
    <div *ngFor="let item of order.books">
      <div class="row">
        <div class="col-lg-3">
          <div class="thumbnail">
            <img src="{{ item['image_thumbnail'] }}" alt="{{ item['book_title'] }}">
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <h5 class="text-uppercase">
            <a routerLink="/book_details/{{ removeChars(item['book_title']) }}/{{ item['ISBN_13'] }}">
              {{ item['book_title'] }}
            </a>
          </h5>
          <h6>{{ item['book_authors'] }}</h6>
        </div>
      </div>
      <hr />
    </div>
  </div>
  <div class="panel-footer">
    <span>Ordered on&nbsp;<strong>{{ order['_created'] | date: 'dd/MM/yyyy hh:mm a' }}</strong></span>
    <span><b>Total Amount Rs. {{ order['total_amount'] }}</b></span>
    <span>Delivered on <strong>{{ order['delivery_date'] | date: 'dd/MM/yyyy hh:mm a' }}</strong></span>
  </div>
</div>
