<div class="container">
  <br>
  <h4>About Us</h4>
  <p>
    LetUsRead Uppalam Road branch staretd its service from October of 2013 with a wide collection of books for both adults and children.
  </p>
  <p>Members can borrow books at the library, over phone or through online. Books can be delivered to any address within Kerala.</p>
  <h5>Our Mission</h5>
  <ul>
    <li>Make reading affordable and borrowing convenient for readers.</li>
    <li>Help readers continue to read books in printed form.</li>
    <li>Promote reading in children working with schools and parents.</li>
  </ul>
  <h5>Our Core Values</h5>
  <ul>
    <li>Treat everyone with respect irrespective of their age, gender or societal orientation.</li>
    <li>Commitment in providing professional service to all our readers.</li>
    <li>Conduct always with integrity, fairness and honesty.</li>
  </ul>
  <h5>
    Seeking Partners
  </h5>
  <p>
    We are looking for more people to participate in this initiative with us at different levels. If you are interested, please get in touch with us.
  </p>
  <br>
  <section class="founders">
    <h4>Founders</h4>
    <div class="media">
      <div class="media-left">
        <a routerLink="/aboutus">
          <img class="media-object" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5y3L0URosUA7io9O_b5YmaCqC80dokrs5NimYJ8xZ8o7UploB" alt="...">
        </a>
      </div>
      <div class="media-body">
        <br>
        <h4 class="media-heading">Library Founder 1</h4>
        <p>Passionate about life and books and growing up reading books, Anand has a strong conviction on the benefits of reading and that resulted in LetUsRead, an initiative to promote reading especially in children. Graduated from Indian Institute of Technology (IIT), Madras, Anand has left 20-year stint in his professional life working for IBM and other companies in India, USA and UK to start LetUsRead. He now spend full-time with LetUsRead and campaign for promoting reading in children. He can be contacted at founder@letusread.in.</p>
        <p>Read founder’s message <a href="">here</a>.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a routerLink="/aboutus">
          <img class="media-object" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5y3L0URosUA7io9O_b5YmaCqC80dokrs5NimYJ8xZ8o7UploB" alt="...">
        </a>
      </div>
      <div class="media-body">
        <br>
        <h4 class="media-heading">Library Founder 1</h4>
        <p>Passionate about life and books and growing up reading books, Anand has a strong conviction on the benefits of reading and that resulted in LetUsRead, an initiative to promote reading especially in children. Graduated from Indian Institute of Technology (IIT), Madras, Anand has left 20-year stint in his professional life working for IBM and other companies in India, USA and UK to start LetUsRead. He now spend full-time with LetUsRead and campaign for promoting reading in children. He can be contacted at founder@letusread.in.</p>
        <p>Read founder’s message <a href="">here</a>.</p>
      </div>
    </div>
  </section>
</div>
