<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="card border-default">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3">
              <div class="img-thumbnail book-details-img">
                <img src="{{ details.image_thumbnail }}" alt="{{ details.book_title }}">
              </div> <!-- thumbnail -->
              <br>
            </div> <!-- end col -->
            <div class="col-lg-7">
              <p class="font-weight-bold book-title">
                <b>{{ details.book_title }}</b>
              </p>
              <p>By <a routerLink="/search" [queryParams]="{q: '', author: details['book_authors'], category: ''}">{{ details['book_authors'] }}</a> &nbsp;(Author)</p>

              <div class="lease-details">
                <div class="row">
                  <div class="col-lg-6 col-md-6 lease-details-colum">
                    <!--<p class="book-cost">MRP  Rs. {{ details['hcopy_price'] }}  (Inclusive of all taxes)</p>-->
                    <h5 class="lease-details-h">
                      <span class="lease-details-price">Rs. {{ (( details['hcopy_price']/100)*appConstants['lease_rate']).toFixed(2) }} </span>
                      <span class="lease-calc">({{ appConstants['lease_rate'] }}% of {{ details['hcopy_price'] }}.00)</span>
                    </h5>
                    <p class="book-cost">For Hard Copy</p>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <!--<p class="book-cost">MRP  Rs. {{ details['ecopy_price'] }}  (Inclusive of all taxes)</p>-->
                    <h5 class="lease-details-h" *ngIf="details['ebook']">
                      <span class="lease-details-price">
                        Rs. {{ (( details['ecopy_price']/100)*appConstants['lease_rate']).toFixed(2) }}
                      </span>
                      <span class="lease-calc">({{ appConstants['lease_rate'] }}% of {{ details['ecopy_price'] }}.00)</span>
                    </h5>
                    <h5 class="lease-details-h" *ngIf="!details['ebook']">
                      <span class="lease-details-price">
                        Not Available
                      </span>
                    </h5>
                    <p class="book-cost">For E-Book</p>
                  </div>
                </div>
              </div>

              <div class="book-summary">
                <p><b>Book Summary</b></p>
                <p>
                  {{ details.book_description }}
                  <a class="pointer" *ngIf="details.book_description && (details.book_description.length !== details.book_summary.length)"
                     (click)="getString(details.book_summary, details.book_summary.length)">More...</a>
                  <a class="pointer" *ngIf="details.book_description && (details.book_description.length === details.book_summary.length)"
                     (click)="getString(details.book_summary, 400)">Less...</a>
                </p>
                <br>
                <p *ngIf="details['no_of_copies']">Only {{ details['no_of_copies']['instore'] }} item(s) left.</p>
                <div class="request-copy-area" *ngIf="authService.isAuthenticated() && details['no_of_copies']">
                  <button [disabled]="!details.availability || details['no_of_copies']['instore'] === 0" (click)="requestCopy(details, 'hardcopy')"
                          class="btn btn-primary btn-md book-details-checkout req-btn">
                    Request hard copy!
                  </button>
                  <button [title]="(details.ebook) ? '' : 'E-Book is not available'"
                          [disabled]="!details.availability || !details.ebook" (click)="requestCopy(details, 'ecopy')"
                          class="btn btn-primary btn-md req-btn req-ecopy">
                    Request E-Book!
                  </button>
                </div>
                <div class="request-copy-area" *ngIf="!authService.isAuthenticated()">
                  <button routerLink="/register-now" class="btn btn-primary btn-md book-details-checkout req-btn">
                    Become a Member
                  </button>
                </div>
                <p class="book-cost" style="margin: 10px 0;" *ngIf="details['no_of_copies']">
                  Book is {{ (details.availability && details['no_of_copies']['instore'] > 0) ? 'Available': 'Not available' }},
                  {{ (details.availability) ? 'Generally delivered in 2 days': '' }}
                </p>
              </div>

            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- end body -->
      </div> <!-- end card -->
    </div><!-- end col -->
  </div> <!-- end row -->
  <br />
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <!-- Book Details -->
      <div class="row">
        <div class="col-lg-12 book-summary">
          <p><b>Book Details</b></p>
          <p>Number of Pages: {{ details['no_of_pages'] }}</p>
          <p>Publisher: {{ details.publisher }}</p>
          <p>
            Language: {{ details.language }}
          </p>
          <p>ISBN-10: {{ details['ISBN_10'] }}</p>
          <p>ISBN-13: {{ details['ISBN_13'] }}</p>
          <p>Product Dimensions: 12.8 x 2.3 x 19.8 cm</p>
        </div> <!-- end col -->
      </div> <!-- end row -->
      <!-- end of Book Details -->

      <hr />
      <!-- Book Author -->
      <div class="row">
        <div class="col-lg-12 book-summary">
          <p><b>About the Author</b></p>
          <p>
            {{ details['book_author_desc'] }}
          </p>
        </div> <!-- end col -->
      </div> <!-- end row -->
      <!-- end of Book Author -->
    </div> <!-- end col -->
  </div> <!-- end row -->
</div>
<br>
