.card-header {
  overflow: hidden;
  background: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  padding: 11px 11px 3px;
}
.book-details-img {
  border: 0;
}
.book-details-ul {
  margin: 0;
  list-style: none;
}
.book-details-ul li {
  display: inline-block;
  margin-left: 10px;
}
.book-details-ul li a {
  color: #000;
}
.pink-heading {
  color: #FF4081;
  margin-bottom: 6px;
}
.browse-by ul {
  list-style: none;
  padding: 0;
}
.browse-by ul li {
  padding: 3px 0;
}
.browse-by ul li a {
  color: #000;
}
