<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-8">
      <div class="card border-default">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-7">
              <p>
                <b>The Kite Runner</b> by <a href="">Khalid Hosseini</a>
              </p>
            </div> <!-- end col -->
            <div class="col-lg-5">
              <ul class="book-details-ul">
                <li><a href="">2 Reviews</a></li>
                <li><i class="fa fa-envelope-o"></i><a href=""> Email to a Friend</a></li>
              </ul>
            </div> <!-- end col -->
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-5">
              <div class="img-thumbnail book-details-img">
                <img src="http://html.crunchpress.com/book-store/images/image41.jpg" alt="">
              </div> <!-- thumbnail -->
              <br>
              <p><b>Available</b>, Delivered in <b>2</b> Days</p>
              <p>
                <button class="btn btn-primary btn-md book-details-checkout">Check Out Now!</button>
              </p>
            </div> <!-- end col -->
            <div class="col-lg-7">
              <p><b>Quick Overview</b></p>
              <p class="book-details-desc">
                Vestibulum a velit at erat adipiscing volutpat. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Ut eget neque velit, suscipit volutpat ligula.
              </p>
              <p class="book-details-desc">
                Quisque diam arcu, dignissim nec molestie sed, pellentesque a augue.
                Nunc sed felis libero, vitae imperdiet risus in feugiat lectus vitae elit euismod rhoncus. Suspendisse potenti.
              </p>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>Material Group:</td>
                    <td><a href="">Books-Regular</a></td>
                  </tr>
                  <tr>
                    <td>Lease Price (Rs):</td>
                    <td>299.00</td>
                  </tr>
                  <tr>
                    <td>Lease Rate (%):	</td>
                    <td>12.00</td>
                  </tr>
                  <tr>
                    <td>Reading Fee (Rs):</td>
                    <td>35.88 (12.00% of 299.00)</td>
                  </tr>
                  <tr>
                    <td><p><b>Your Reading Fee (Rs):</b></p></td>
                    <td><p><b>35.88</b></p></td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- end col -->
          </div> <!-- end row -->

          <hr />
          <!-- Book Details -->
          <div class="row">
            <div class="col-lg-12">
              <p><b>Book Details</b></p>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>Language:</td>
                    <td><a href="">English</a></td>
                  </tr>
                  <tr>
                    <td>Author:</td>
                    <td>Chetan Bhagat</td>
                  </tr>
                  <tr>
                    <td>Publisher:	</td>
                    <td>Rainlight Rupa</td>
                  </tr>
                  <tr>
                    <td>Year:</td>
                    <td>2016</td>
                  </tr>
                  <tr>
                    <td>IBCN:</td>
                    <td>100040096</td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- end col -->
          </div> <!-- end row -->
          <!-- end of Book Details -->

          <hr />
          <!-- Book Summary -->
          <div class="row" id="book_summary">
            <div class="col-lg-12">
              <p><b>Book Summary</b></p>
              <p>
                Sed molestie semper ligula vitae pellentesque duis laoreet erat a pretium pulvinar, justo nisi fermentum risus, sed condimentum nisl elit vel risus.
                Vivamus felis dolor, consectetur vel condimentum sit amet, iaculis in orci.
              </p>
              <p>
                Phasellus sed vehicula justo nunc quis erat vel ante ornare pulvinar cras tristique facilisis tincidunt quisque felis erat iaculis at fringilla vitae rutrum id magna. Nam pharetra scelerisque justo at vehicula aliquam erat
                volutpat. Quisque vulputate justo eu mattis interdum magna erat porta risus tincidunt
              </p>
            </div> <!-- end col -->
          </div> <!-- end row -->
          <!-- end of Book Summary -->

          <hr />
          <!-- Book Author -->
          <div class="row">
            <div class="col-lg-12">
              <p><b>Book Author</b></p>
              <p>
                Chetan Bhagat (born 22 April 1974), is an Indian author, columnist, and speaker.
                Bhagat is the author of bestselling novels, Five Point Someone (2004), One Night @ the Call Center (2005),
                The 3 Mistakes of My Life (2008), 2 States (2009), Revolution 2020 (2011), and What Young India Wants (2012).
                All the books have remained bestsellers since their release and three have inspired Bollywood films
                (including the hit film 3 Idiots). In 2008, The New York Times called Bhagat
                "the biggest selling English language novelist in India's history". Bhagat,
                an alumnus of Indian Institute of Technology (IIT) Delhi and Indian Institute of Management Ahmedabad,
                is seen more as a youth icon than as an author. Time magazine named him as one of the 100 Most
                Influential People in the World. Bhagat writes op-ed columns for popular English and Hindi newspapers,
                including the The Times of India and Dainik…
              </p>
            </div> <!-- end col -->
          </div> <!-- end row -->
          <!-- end of Book Author -->
        </div>
      </div> <!-- end card -->
    </div><!-- end col -->
    <div class="col-lg-4">
      <div class="card browse-by">
        <div class="card-header">
          <p class="heading" style="margin-bottom: 7px;"><b>Browse By</b></p>
        </div>
        <div class="card-body">
          <p class="pink-heading"><b>Book Category</b></p>
          <ul>
            <li *ngFor="let cat of categories">
              - <a href="">{{ cat.name }}</a>
            </li>
          </ul>

          <hr />

          <p class="pink-heading"><b>Book Author</b></p>
          <ul>
            <li *ngFor="let cat of categories">
              - <a href="">{{ cat.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- end col -->
  </div> <!-- end row -->
</div>
<br>
