<div class="container">
  <br>

  <!-- Popular Section -->
  <div class="heading-bar">
    <h5 class="text-uppercase"><b>Most Popular Books</b></h5>
    <span class="h-line"></span>
  </div>
  <div class="genre flex-center">
    <div class="genre-item popular-genre-item flex-center" *ngFor="let i of items">
      <div class="genre-item-img">
        <img src="{{ i.src }}" alt="{{ i.text }}">
      </div>
      <div class="genre-item-text">
        <h5><a routerLink="/book_details/{{i.text}}">{{ i.text }}</a></h5>
        <p><a routerLink="/book_details/{{ i.text }}">Read more >></a></p>
      </div>
    </div>
  </div>
  <!-- End of Popular Section -->

  <!-- Resource types Section -->
  <div class="heading-bar">
    <h5 class="text-uppercase"><b>Resource Types</b></h5>
    <span class="h-line"></span>
  </div>
  <div class="genre flex-center">
    <div class="genre-item flex-center" *ngFor="let item of resourceItems">
      <!--<div class="genre-item-img">
        <img src="{{ i.src }}" alt="{{ i.text }}">
      </div>-->
      <div class="genre-item-text">
        <h6><a href="" class="resource-type-text"><b>{{ item.text }}</b></a></h6>
        <p><a href="">Open Category >></a></p>
      </div>
    </div>
  </div>
  <div class="text-right show-more bottom-30">
    <a href="">Show more >></a>
  </div>
  <!-- end of Resource types Section -->

  <hr>

  <section>
    <div class="flex-center grid-view">
      <div class="grid-view-item" *ngFor="let item of gridView">
        <div class="grid-view-item-img flex-center">
          <img src="{{ item.src }}" alt="">
        </div>
        <div class="grid-view-item-text">
          <h6><a routerLink="/book_details/{{ item.text }}">{{ item.text }}</a></h6>
          <p class="author">-By <b>Raghuvaran</b></p>
        </div>

        <div class="grid-view-item-desc">
          <p>
            Immerse Yourself in the Magic of Cambodia with a Luxurious
            Eight Day/Seven Night Esc...
          </p>
        </div>

        <div class="grid-view-footer">
          <div class="price-area">
            <p>Rs.76.00</p>
          </div>
          <div>
            <button routerLink="/book_details/{{ item.text }}" class="btn btn-default btn-sm">View Book</button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-right show-more bottom-30">
      <a href="">Show more >></a>
    </div>
  </section>
</div>
