
<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <ul class="list-group">
        <li class="list-group-item" role="presentation">
          <a routerLink="/profile/settings" routerLinkActive="active">
            <i class="fa fa-product-hunt"></i>&nbsp;
            Profile Settings
          </a>
        </li>
        <li class="list-group-item" role="presentation">
          <a routerLink="/profile/shipping" routerLinkActive="active">
            <i class="fa fa-address-card"></i>&nbsp;
            Shipping Address
          </a>
        </li>
        <li class="list-group-item" role="presentation">
          <a routerLink="/profile/change-password" routerLinkActive="active">
            <i class="fa fa-gear"></i>&nbsp;
            Change Password
          </a>
        </li>
        <li class="list-group-item" role="presentation">
          <a routerLink="/profile/my-orders" routerLinkActive="active">
            <i class="fa fa-first-order"></i>&nbsp;
            Orders
          </a>
        </li>
        <li class="list-group-item" role="presentation">
          <a routerLink="/my-transactions" routerLinkActive="active">
            <i class="fa fa-first-order"></i>&nbsp;
            My Transactions
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <!-- Nav tabs -->
      <div class="card">
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br><br><br><br><br><br><br>
