
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-8">
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation">
            <a routerLink="/profile/settings" routerLinkActive="active">Profile Settings</a>
          </li>
          <li role="presentation"><a routerLink="/profile/shipping" routerLinkActive="active">Shipping Address</a></li>
          <li role="presentation"><a routerLink="/profile/membership" routerLinkActive="active">Membership</a></li>
          <li role="presentation"><a routerLink="/profile/change-password" routerLinkActive="active">Change Password</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br><br><br><br><br><br><br>
