.container{
  background-color:white;padding:50px;
}
.random-number-display {
  width: 100%;
  height: 65px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #DDD;
  background: #EEE;
  padding: 10px;
  margin-bottom: 10px;
  color: #aeaeae;
}
