<div class="container">
  <h2 class="text-center" id="title">Register with <b>Brand</b> to access Resources!</h2>
  <p class="text-center">
    <small id="passwordHelpInline" class="text-muted">To access multiple resources, Login/Register to the Brand today!</small>
  </p>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <form role="form">
        <fieldset>
          <p class="text-uppercase"><b> Login using your account: </b></p>

          <div class="form-group">
            <input type="email" name="username" id="username" class="form-control input-lg" placeholder="username">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <a href="">
              Forgot Password?
            </a>
          </div>
          <div>
            <input type="submit" class="btn btn-md" value="Sign In">
          </div>

        </fieldset>
      </form>
    </div>
    <div class="col-md-2">
      <!-------null------>
    </div>
    <div class="col-md-5">
      <form role="form">
        <fieldset>
          <p class="text-uppercase pull-center"> <b>SIGN UP.</b></p>
          <div class="form-group">
            <input type="text" name="username" id="reg_username" class="form-control input-lg" placeholder="username">
          </div>
          <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
          </div>
          <div class="form-group">
            <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Phone number">
          </div>
          <div class="form-group">
            <input type="password" name="password" id="reg_password" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Re-enter password">
          </div>
          <div class="form-gorup">
            <div class="random-number-display">
              {{ randomCheck }}
            </div>
          </div>
          <span>Can't read the number above? <a style="color: #2b65eb; cursor: pointer;"
                                                (click)="randomNumber()">Click here</a></span>
          <div class="form-group" style="margin-top: 5px;">
            <span>Enter the number shown above: </span> <input title="Enter captcha" type="text" name="captcha" />
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              By Clicking register you're agree to our policy & terms
            </label>
          </div>
          <br>
          <div>
            <input type="submit" class="btn btn-md btn-primary" value="Register" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
